@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


html {
	font-family: 'Nanum Gothic', sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

header, footer, main,menu,nav,section,summary {
	display: block;
}
