
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'GT-America-Compressed-Black-Italic', sans-serif;
	margin: 0;
}

header, footer, main,menu,nav,section,summary {
	display: block;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

